# PyCharm
.idea

# VSCode
.vscode
/.vscode
nohup.out

# Coverage from Running npm test
coverage

# ignore DS_Store files from mac
.DS_Store

# ignore all node modules
**/node_modules
node_modules

# ignore builds
/build

# ignore expo files
.expo
/.expo

